@import "../../index.scss";

.buttonText {
  font-family: Helios-Bold;
  text-transform: uppercase;
  white-space: nowrap;
  color: #202020;
  font-size: 12px;
  margin-right: 15px;
  margin-left: 15px;
}