@import "../../index.scss";

.buttonText {
  font-family: Helios-Bold;
  text-transform: uppercase;
  white-space: nowrap;
  color: #202020;
  font-size: 12px;
  padding-right: 15px;
  padding-left: 15px;
}

.button {
  cursor: pointer;
  padding-top: 15px;
  padding-bottom: 10px;
  transition: background-color 300ms;

  img {
    width:80px;
    height: 25px;
    align-self: center;
  }
}